## Preprocessing

In [42]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [43]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=(['EIN', 'NAME']),inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [44]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [45]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [46]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = [i[0] for i in application_df['APPLICATION_TYPE'].value_counts().items() if i[1] < 528]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [47]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [48]:
# You may find it helpful to look at CLASSIFICATION value counts >1
vc = application_df['CLASSIFICATION'].value_counts()
vc.loc[vc > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [49]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = [r for r in vc.loc[vc < 1883].index]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [50]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [102]:
#for c in application_df.columns:
#  print(application_df[c].value_counts())

for c in X.columns:
  print(X[c].value_counts())

1    34294
0        5
Name: STATUS, dtype: int64
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64
0    34023
1      276
Name: APPLICATION_TYPE_Other, dtype: int64
0    33771
1      528
Name: APPLICATION_TYPE_T10, dtype: int64
0    33234
1     1065
Name: APPLICATION_TYPE_T19, dtype: int64
1    27037
0     7262
Name: APPLICATION_TYPE_T3, dtype: int64
0    32757
1     1542
Name: APPLICATION_TYPE_T4, dtype: int64
0    33126
1     1173
Name: APPLICATION_TYPE_T5, dtype: int64
0    33083
1     1216
Name: APPLICATION_TYPE_T6, dtype: int64
0    33574
1      725
Name: APPLICATION_TYPE_T7, dtype: int64
0    33562
1      737
Name: APPLICATION_TYPE_T8, dtype: int64
0    18594
1    15705
Name: AFFILIATION_CompanySponsored, dtype: int64
0    34235
1       64
Name: AFFILIATION_Family/Parent, dtype: int64
1    18480
0    15819
Name: AFFILIATION_Independent, dtype: int64
0    34266
1       33
Name: AFFILIATION_National, dtype: int64
0    34286
1       13
Name: AFFILIATION_Regional, dtype: int64
1    17326
0    16973
Name: CLASSIFICATION_C1000, dtype: int64
0    29462
1     4837
Name: CLASSIFICATION_C1200, dtype: int64
0    28225
1     6074
Name: CLASSIFICATION_C2000, dtype: int64
0    32416
1     1883
Name: CLASSIFICATION_C2100, dtype: int64
0    32381
1     1918
Name: CLASSIFICATION_C3000, dtype: int64
0    32038
1     2261
Name: CLASSIFICATION_Other, dtype: int64
0    33915
1      384
Name: USE_CASE_CommunityServ, dtype: int64
0    34153
1      146
Name: USE_CASE_Heathcare, dtype: int64
1    28095
0     6204
Name: USE_CASE_Preservation, dtype: int64
0    28628
1     5671
Name: USE_CASE_ProductDev, dtype: int64
0    24044
1    10255
Name: ORGANIZATION_Association, dtype: int64
0    33813
1      486
Name: ORGANIZATION_Co-operative, dtype: int64
0    34256
1       43
Name: ORGANIZATION_Corporation, dtype: int64
1    23515
0    10784
Name: ORGANIZATION_Trust, dtype: int64
1    24388
0     9911
Name: INCOME_AMT_0, dtype: int64
0    33571
1      728
Name: INCOME_AMT_1-9999, dtype: int64
0    33756
1      543
Name: INCOME_AMT_10000-24999, dtype: int64
0    30925
1     3374
Name: INCOME_AMT_100000-499999, dtype: int64
0    34059
1      240
Name: INCOME_AMT_10M-50M, dtype: int64
0    33344
1      955
Name: INCOME_AMT_1M-5M, dtype: int64
0    30552
1     3747
Name: INCOME_AMT_25000-99999, dtype: int64
0    34160
1      139
Name: INCOME_AMT_50M+, dtype: int64
0    34114
1      185
Name: INCOME_AMT_5M-10M, dtype: int64
1    34272
0       27
Name: SPECIAL_CONSIDERATIONS_N, dtype: int64
0    34272
1       27
Name: SPECIAL_CONSIDERATIONS_Y, dtype: int64

In [103]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns=['IS_SUCCESSFUL', 'USE_CASE_Other', 'AFFILIATION_Other', 'AFFILIATION_Regional'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [104]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [109]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=40))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_52 (Dense)            (None, 80)                3280

 dense_53 (Dense)            (None, 40)                3240

 dense_54 (Dense)            (None, 1)                 41

=================================================================
Total params: 6,561
Trainable params: 6,561
Non-trainable params: 0
_________________________________________________________________

In [110]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [111]:
# Train the model
mc = tf.keras.callbacks.ModelCheckpoint('AlphabetSoupCharity_weights_optimized.h5',
                                     save_weights_only=True, save_freq=5)
fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks=[mc])

Epoch 1/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5719 - accuracy: 0.7208
Epoch 2/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5577 - accuracy: 0.7302
Epoch 3/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5546 - accuracy: 0.7298
Epoch 4/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5522 - accuracy: 0.7297
Epoch 5/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5510 - accuracy: 0.7289
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5498 - accuracy: 0.7311
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5492 - accuracy: 0.7324
Epoch 8/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5482 - accuracy: 0.7333
Epoch 9/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5476 - accuracy: 0.7341
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5473 - accuracy: 0.7335
Epoch 11/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5471 - accuracy: 0.7329
Epoch 12/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5462 - accuracy: 0.7332
Epoch 13/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5460 - accuracy: 0.7346
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5458 - accuracy: 0.7345
Epoch 15/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5450 - accuracy: 0.7344
Epoch 16/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5442 - accuracy: 0.7347
Epoch 17/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5437 - accuracy: 0.7349
Epoch 18/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5439 - accuracy: 0.7338
Epoch 19/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5438 - accuracy: 0.7357
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5433 - accuracy: 0.7353
Epoch 21/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5427 - accuracy: 0.7359
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5426 - accuracy: 0.7359
Epoch 23/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5425 - accuracy: 0.7357
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5419 - accuracy: 0.7359
Epoch 25/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5423 - accuracy: 0.7352
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5414 - accuracy: 0.7364
Epoch 27/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5412 - accuracy: 0.7368
Epoch 28/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5414 - accuracy: 0.7362
Epoch 29/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5412 - accuracy: 0.7371
Epoch 30/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5410 - accuracy: 0.7381
Epoch 31/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5406 - accuracy: 0.7365
Epoch 32/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5409 - accuracy: 0.7379
Epoch 33/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5404 - accuracy: 0.7364
Epoch 34/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5403 - accuracy: 0.7381
Epoch 35/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5398 - accuracy: 0.7380
Epoch 36/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5396 - accuracy: 0.7378
Epoch 37/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5397 - accuracy: 0.7376
Epoch 38/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5394 - accuracy: 0.7382
Epoch 39/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5395 - accuracy: 0.7374
Epoch 40/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5388 - accuracy: 0.7381
Epoch 41/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5397 - accuracy: 0.7373
Epoch 42/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5385 - accuracy: 0.7391
Epoch 43/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5387 - accuracy: 0.7379
Epoch 44/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5386 - accuracy: 0.7380
Epoch 45/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5390 - accuracy: 0.7377
Epoch 46/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5391 - accuracy: 0.7385
Epoch 47/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5384 - accuracy: 0.7383
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5385 - accuracy: 0.7381
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5381 - accuracy: 0.7388
Epoch 50/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5384 - accuracy: 0.7385
Epoch 51/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5384 - accuracy: 0.7389
Epoch 52/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5382 - accuracy: 0.7386
Epoch 53/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5380 - accuracy: 0.7390
Epoch 54/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5382 - accuracy: 0.7386
Epoch 55/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5379 - accuracy: 0.7379
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7396
Epoch 57/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5381 - accuracy: 0.7378
Epoch 58/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5376 - accuracy: 0.7394
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5372 - accuracy: 0.7390
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5370 - accuracy: 0.7404
Epoch 61/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5368 - accuracy: 0.7386
Epoch 62/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5373 - accuracy: 0.7393
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7397
Epoch 64/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5369 - accuracy: 0.7392
Epoch 65/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5367 - accuracy: 0.7388
Epoch 66/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5370 - accuracy: 0.7383
Epoch 67/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5369 - accuracy: 0.7393
Epoch 68/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5363 - accuracy: 0.7394
Epoch 69/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5369 - accuracy: 0.7391
Epoch 70/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5364 - accuracy: 0.7392
Epoch 71/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5365 - accuracy: 0.7397
Epoch 72/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5362 - accuracy: 0.7391
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5365 - accuracy: 0.7395
Epoch 74/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5367 - accuracy: 0.7388
Epoch 75/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5364 - accuracy: 0.7389
Epoch 76/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5361 - accuracy: 0.7402
Epoch 77/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5361 - accuracy: 0.7385
Epoch 78/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5359 - accuracy: 0.7396
Epoch 79/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5358 - accuracy: 0.7386
Epoch 80/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 81/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5362 - accuracy: 0.7386
Epoch 82/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5355 - accuracy: 0.7399
Epoch 83/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 84/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5358 - accuracy: 0.7395
Epoch 85/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5357 - accuracy: 0.7393
Epoch 86/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5355 - accuracy: 0.7402
Epoch 87/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5355 - accuracy: 0.7402
Epoch 88/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 89/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5351 - accuracy: 0.7398
Epoch 90/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5353 - accuracy: 0.7401
Epoch 91/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5358 - accuracy: 0.7384
Epoch 92/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5350 - accuracy: 0.7393
Epoch 93/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5352 - accuracy: 0.7383
Epoch 94/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5351 - accuracy: 0.7404
Epoch 95/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5349 - accuracy: 0.7400
Epoch 96/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5350 - accuracy: 0.7395
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7397
Epoch 98/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5348 - accuracy: 0.7402
Epoch 99/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5349 - accuracy: 0.7390
Epoch 100/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5350 - accuracy: 0.7392

In [112]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5594 - accuracy: 0.7272 - 547ms/epoch - 2ms/step
Loss: 0.5594365000724792, Accuracy: 0.7272303104400635

In [113]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimized.h5', save_format='h5')